/* --- ESTILOS DE PESTAÑAS Y SUS FONDOS --- */

.tab-content {
    display: none;
    animation: fadeIn 0.3s ease-in-out;
    padding: 15px; /* Mantenemos el padding para que el contenido no toque los bordes */
    position: relative; /* Necesario si en el futuro quieres añadir superposiciones de color sobre el fondo */
    /* Propiedades comunes de fondo que se aplicarán si no hay una imagen específica */
    background-color: #1e1e1e; /* Un color de fondo por defecto si la imagen no carga o para otras pestañas */
    background-size: cover; /* Asegura que la imagen cubra todo el espacio */
    background-position: center center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

/* Pestaña 1: Ascensión */
#tab-ascension.tab-content {
    background-image: url('https://lh3.googleusercontent.com/gg-dl/AJfQ9KQkkXEKExrUes0MMDaD5hOlnFtKVUW6mG7M8ZIiabsRXcdi2n4BoFQd5C2v8in9xxfPyN5ADXyda-GOFu8Dy_GZgpHDvfQTwa6CyYrwkAOtz3BpI8lG2n_H0Bf6fmSm76AoQo_Nw2IjycSmFj2tWyj26Oof4cchdrcd4kEvH53gd6S5=s1024?authuser=1');
    /* Las propiedades background-size, position, repeat se heredan de .tab-content o se pueden redefinir aquí si es necesario */
}

/* Pestaña 2: La Caída */
#tab-la-caida.tab-content {
    background-image: url('
